body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

main {
    margin: 50px;
    font-size: 18px;
}